body {
    font-size: 14px;
    font-family: arial,sans-serif;
    background:#fff;
}

#rightalign{
    float: right;
    padding-left: 10px;
    align-items: flex-end;
}

#leftalign{
    float: left;
    padding-left: 10px;
}

#signinbuttom{
    float: right;
    padding-left: 10px;
    align-items:flex-end;
}
a {
    color: black;
    text-decoration: none;
}
  
a:hover, a:active {
    text-decoration: underline;
}
  
a:visited {
    color: purple;
}

img{
    padding:100px;
}

#height {
    height: auto;

}
#link{
    padding: 20px;
    align-content: center;
}

#center{
    align-content: center;
}

@media (min-height:651px) {
    .footer{
        background-color: lightgray;
        position:absolute;
        bottom:0;
        width:100%;
        height: auto;
    }
    .footerone{
        border-bottom-color: black; 
        border-bottom-width: 2px;
        align-content: center;
    .space {
        height: 250px;
        }
    }
}

@media (max-height: 650px) {
    .footer{
        background-color: lightgray;
        position:absolute;
        bottom:0;
        width:100%;
        height: auto;
    }
    .footerone{
        border-bottom-color: black; 
        border-bottom-width: 2px;
        border-bottom:lightgray;
        align-content: center;        
    }
    .space {
    height: auto;
    }
}